<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.james.simplezhihudaily" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.james.simplezhihudaily.View.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.james.simplezhihudaily.View.MainActivity"/>
        <activity android:name="com.james.simplezhihudaily.View.ArticleActivity"/>
        <activity android:name="com.james.simplezhihudaily.View.LoginActivity"/>
        <activity android:name="com.james.simplezhihudaily.View.SettingActivity"/>
        <activity android:name="com.james.simplezhihudaily.View.ThemeFrameActivity"/>
        <activity android:name="com.james.simplezhihudaily.View.CommentActivity"/>
        <activity android:name="com.james.simplezhihudaily.View.ProfileActivity"/>
        <service android:name=".Service.UpdateService"/>
    </application>

</manifest>